Context: You are supposed to compare two images based on their descriptions.
You are given two different descriptions for two images and you are ask to compare them based on the following question.
Description for Image-1: {{description1}}
Description for Image-2: {{description2}}
To answer the question consider the following explanation:
    The are three types of rhetorical appeals or ways to convince the audience:

        - Ethos is a persuasive technique that appeals to an audience by highlighting credibility. Ethos advertisement techniques invoke the superior “character” of a speaker, presenter, writer, or brand.
        - Pathos is a persuasive technique that tries to convince an audience through emotions. Pathos advertisement techniques appeal to the senses, memory, nostalgia, or shared experience.
        - Logos is the persuasive technique that aims to convince an audience by using logic and reason. Also called “the logical appeal,” logos examples in advertisements include the citation of statistics, facts, charts, and graphs.

Question: Assume you are a human evaluating these images. Which image appeals to "{{appealing_type}}" more.
Answer with "0" for the Image-1, or "1" for the Image-2. Do not include any explanation.
ASSISTANT: