Context: {{description}}.
Question: Based on the context return the indices of the 3 best statements among the options to interpret the described image
Separate the answers by comma and even without enough information return the indices of the 3 best options among the options without any further explanation.
Options: {{options}}
Your output format is only Answer: ${indices of the 3 best statements separated by comma} form, no other form.
Answer:
