Context: {{description}}.
Question: Based on the context return the indices of the 3 best statements among the options to interpret the described image
Separate the answers by comma and even without enough information return the indices of the 3 best options among the options.
Options: {{options}}
Your output format is only Answer: ${indices of the 3 best statements} form, no other form.
None of the above is not allowed. Even without enough information choose the 3 best interpretations.
