Context: {{description}}.
Question: Based on the context return the indices of the 3 correct statements among the options to interpret the described image without any explanation.
Separate the answers by comma.
Options: {{options}}
Your output format is only Answer: ${indices of the 3 best statements separated by comma} form, no other form.
Answer:
