Context: You are supposed to compare two images based on their descriptions.
You are given two different descriptions for two images and you are ask to compare them based on the following question.
Description for Image-1: {{description1}}
Description for Image-2: {{description2}}
Which image better connects the feature of products to the benefits for costumers?
Answer with "0" for the Image-1, or "1" for the Image-2. Do not include any explanation.
ASSISTANT: