Context:
    Describe an advertisement image that conveys the following messages in detail:
    - I should drink Carling black beer because it is light.
    - I should drink Beer because it feels good
    Description of the image: The image features a vintage advertisement for Carling's Black Label Beer. The advertisement showcases a bottle of beer with a feather on top of it, giving it a unique and eye-catching appearance. The bottle is prominently displayed in the center of the image, with the feather extending from the top of the bottle.The advertisement also includes a quote, possibly a slogan, that reads "Light... as a Carling's." This phrase emphasizes the refreshing and light nature of the beer. The overall design of the advertisement is reminiscent of an old-fashioned poster, giving it a nostalgic and classic feel.

Question:
Describe an advertisement image that conveys the following messages in detail:
{% for statement in action_reason %}
    - {{statement}}
{% endfor %}
Description of the image:

