Context: You are supposed to compare two images based on their descriptions.
You are given two different descriptions for two images and you are ask to compare them based on the following question.
Description for Image-1: {{description1}}
Description for Image-2: {{description2}}
Which image is more out of the ordinary, unique, and better breaks away from habit-bound and stereotypical thinking? Do not consider the text in the image.
Please follow the format of:
    Explanation: ${explanation}
    Answer: ${answer}
ASSISTANT: