Name the object that is being advertised in the following messages. Name the object itself not the brand. An example for object is perfume, lotion, car, etc.:
{% for statement in action_reason %}
    - {{statement}}
{% endfor %}
Just name the objects.
objects:
